{% extends 'blog/base.html' %}

{% block content %}
  <div class="post">
    {% if post.published_date %}
      <div class="date">
        {{ post.published_date }}
      </div>
    {% endif %}
    {% if user.authenticated %}
      <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.text|linebreaksbr }}</p>
    <h2 id="test">[[ msg ]]</h2>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue;
  
    createApp({
      data() {
        return {
          msg: 'Hello, Vue'
        }
      },
      delimiters: ['[[', ']]']
    }).mount('#test');
  </script>
{% endblock %}
